<div class="container-fluid acordion-wrapper">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-2 acordion-links">
			<a> Главная</a> <span>/</span> <a>Каталог</a> <span>/</span> <a>Название товара</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-lg-push-2  acordion-img">
			<img src="templates/images/acordion-img.png">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-6 col-lg-push-2 acordion-content">
			<span class="accordion-header__text">JCB 4CX Super</span>
			<div class="characters" id="characters">
				<span> Характеристики</span>
			
			</div>
			<form method="post" action="send.php" class="form-radio">
			  <div class="radio-group">
				<div class="another">
					<div class='radio-btn ' data-value="125.000 Р."> <div class="bg-radio"> </div></div> 
						
					<div class='radio-btn ' data-value="250.000 Р."><div class="bg-radio"> </div></div>
					  
					<div class='radio-btn' data-value="350.000 Р."><div class="bg-radio"> </div></div>
					<div class="info-header" id="information">
						<span> Информация</span>
					</div>
					<div class="info-content">
						<div class="info-content__text">Текст описывающий технику,работу,запасные части либо что-то еще 
							<br>запасные части либо что-то еще
						</div>
						<div class="info-content__text">Текст описывающий технику,работу,запасные части либо что-то еще 
							<br>запасные части либо что-то еще
						</div>
						<div class="info-content__text">
							Текст описывающий технику,работу,запасные части либо что-то еще
						</div>
					</div>
					<input type="text" id="radio-value" name="radio-value" />
					
					<button type="submit" id="accordion-btn"> Заказать</button>
					 <div class="underline-acordion"> </div>
				</div>
				
			  </div>
			  <div class="char-txt">
				<p>Характеристика 1</p>
				<p>Характеристика 2</p>
				<p>Характеристика 3</p>
			  </div>
			 
			</form>
		</div>
	</div>

</div>