<div class="container-fluid main-slider">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-slider__wrapper">
			<div class="slider-box">
			
				<div class="slider">  
					<img src="templates/images/slider-img-1.png" id="slider-image" value="first">
					<img src="templates/images/slider-img-1.png" id="slider-image" value="second">
					<img src="templates/images/slider-img-1.png" id="slider-image" value="third">
					
				 </div>
				 
				 <ul class="bullets"></ul>
				 <div class="slider-text">
					<span>Профессиональная техника
					<br>В аренду от <span id="cost">15 000 </span> <br>руб./сутки</span> 
				 </div>
				<div class="prev"></div>
				<div class="next"></div>
			</div>
		
		</div>
	</div>

</div>